@model UserViewModel
@{
    string activeClass = "active";
    string backgroundUser = "background-user";
}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="list-group">
                @foreach (User user in Model.AllUsers)
                {
                    <a
                        asp-route-id="@user.Id"
                        asp-action="User"
                        asp-controller="Home"
                        class="list-group-item list-group-item-action @if (user.Id == Model.SelectedUser.Id)
                                                                      {
                                                                          @activeClass
                                                                      }">
                        @user.Name
                    </a>
                }
            </div>
        </div>
        <div class="col">
            @if (!Model.SelectedUser.Messages.Any())
            {
                <p>
                    Нет никаких сообщений в переписке с пользователем
                </p>
            }
            else
            {
                foreach (Message message in Model.SelectedUser.Messages)
                {
                    <div class="card">
                        <div class="card-body @if (message.IsUserMessage)
                                              {
                                                  @backgroundUser
                                              }">
                            @message.MessageString
                        </div>
                    </div>
                }
            }
            <br/>
            <form asp-route-id="@Model.SelectedUser.Id"
                  asp-action="Send"
                  asp-controller="Home">
                <div class="form-group">
                    <label for="MessageField">Сообщение</label>
                    <textarea id="MessageField"
                              name="MessageString"
                              class="form-control"
                              rows="4"
                              required></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Отправить</button>
            </form>
        </div>
        <div class="col">
            <h4>Анкета пользователя</h4>
            <p>Имя: @Model.SelectedUser.Name</p>
            <p>Пол: @Model.SelectedUser.Gender</p>
            @if (Model.SelectedUser.HasFamily)
            {
                <p>Имеет семью</p>
            }
            else
            {
                <p>Нет семьи</p>
            }
            @if (Model.SelectedUser.HasConversationTroubles)
            {
                <p>Есть трудности в общении</p>
            }
            else
            {
                <p>Трудностей в общении нет</p>
            }
        </div>
    </div>
</div>